
@media(max-width:700px){
    .canvaWidth{

    
display: none;
    }
    .div1{
        display: flex;
    }
    .tabs {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        align-items: center;
        width: 100%;
        text-align: center;
      }
   
    .assesses{
        color: var(--text-100, #1C4980);
        padding: 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
        padding-left: 0px;
        padding-top: 25px;
        /* 22.4px */
    }
    .img{
        padding: 15px;
    }
    .offcanvaImg{
        border-radius: 60px;
background: var(--secondary-5, #F2F8FE);
padding: 10px;
    }
    
}

@media(min-width:700px){
    .hide{
        display: none;
    }
    .div1{
        display: none;
    }
    .font:disabled{
        color: var(--text-100, #1C4980);
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    }
    .main >li>button:disabled {
        color: var(--bs-nav-link-disabled-color);
        background-color: transparent;
        font-size: 20px;
        border-color: transparent;
        color: var(--text-100, #1C4980);
    
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    
    }
    .Assessment{
        display: flex;
        flex-direction: row;
    
    }
    .div2{
        width: 100%;
    }
    .tabs {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        align-items: center;
        margin: 20px;
        text-align: center;
      }
    
    .main>li>.hide{
        display: none;
    }
    .canvaAlignment{
        display: flex;
    
    }
    .imgWidth{
        width: auto;
        float: left;
        padding: 20px;
        padding-top: 35px;
        padding-left: 35px;
    }
    .main .nav-item .nav-link{
        border: none;
        font-size: 60px;
    }
    .main >li>button.active {
      border-color: none;
    }
    .tabs >ul>li{
        display: none;
    }
    .canvaWidth{
        width: 200px;
    }
    .titles{
        display: flex;
    }
    
}