
@media(max-width:700px)
{
 
  .nav.nav-tabs .nav-link.active {
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #0073e6;
    color: var(--secondary-1, #0073e6);
     
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    min-width: 150px;
  }
 
  .nav.nav-tabs .nav-link.disabled {
  display: none;
  visibility: hidden;
  height: 0px;
  width: 0px;
  padding: 0px;
    
   
  }
  
.nav.nav-tabs .nav-link {
 min-width: 150px;
  font-style: normal;
  padding-right: 20px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: #303030;

  white-space: nowrap;
 
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 10px;
   
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.offcanvas-backdrop.show {
  opacity: 0;
}
.offcanvas-backdrop {
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 1040;
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: #000;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 315px;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);
  background: var(--secondary-5, #F2F8FE);
}
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
  margin: calc(-.5 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x)) calc(-.5 * var(--bs-modal-header-padding-y)) auto;
  border-radius: 60px;
  background-color: var(--accent-red-light,#FBEBEA);
}

}
@media(min-width:700px)
{
   
  .nav.nav-tabs .nav-link.disabled {
    color: var(--text-100, #1C4980);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    padding-right: 20px;
    border-right: 1px solid var(--system-stroke-2, #DADCE0);
      
     
    }
  .nav.nav-tabs .nav-link[aria-controls=justify-tab-example-tabpane-profile] {
    display: none;
  }
  .nav.nav-tabs .nav-link.active {
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #0073e6;
    color: var(--secondary-1, #0073e6);
     
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
   
  }
  
.nav.nav-tabs .nav-link {
  font-style: normal;
  padding-right: 20px;
  border: 0px;
  
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #303030;

  white-space: nowrap;
 

  text-transform: capitalize;
}

.offcanvas-backdrop.show {
  opacity: 0;
}
.offcanvas-backdrop {
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 1040;
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: #000;
}
}

